
@font-face {
  font-family: mainFont;
  src: url('./assets/Cinzel-Bold.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: mainFont;
}

body::-webkit-scrollbar,
.scroll-box::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track,
.scroll-box::-webkit-scrollbar-track {
  background: #282c3400;
}

body::-webkit-scrollbar-thumb,
.scroll-box::-webkit-scrollbar-thumb {
  background-color: #B48521;
}

body::-webkit-scrollbar-corner,
.scroll-box::-webkit-scrollbar-corner {
  background: #282c3400;
}

.App {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  color: #B48521;
  text-align: center;
  text-shadow: 0 0 15px #000000;

  background-color: #282c34;
  background-image: url('./assets/background.png');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.logo {
  position: absolute;
  width: 100%;
  height: 10%;
}

.logo img {
  position: absolute;
  top: 5px;
  left: 25px;
  width: 15%;
}
  
.header {
  position: relative;
  width: 100%;
  height: 25%;
}

.title {
  vertical-align: middle;
  padding: 5% 0 2.5% 0;
}

.title h1 {
  font-size: 3rem;
}

.title h2 {
  font-size: 35px;
}

.win-state {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.win-state img {
  animation: reveal 3s 0s forwards;
  height: 475px;
  opacity: 0;
  padding-top: 10px;
}

.win-state::-webkit-scrollbar {
  width: 0;
}

@keyframes reveal {
  to { opacity: 1; }
}

.replay {
  display: grid;
  place-items: center;
  width: 300px;
  height: 80px;
  border-radius: 20px;
  margin: 25px 0;

  font-size: 30px;
  text-shadow: 0 0 15px black;
  background-color: #282c34a4;
}

.replay:hover {
  text-decoration: underline;
  text-decoration-color: #B48521;
  cursor: pointer;
}

.search-bar {
  position: relative;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.search-input {
  background-color: #282c34;
  color: white;
  border: 0;
  font-size: 20px;
  padding: 15px;
  height: 40px;
  width: 325px;
  border-radius: 0.25em;
}

.search-input:focus {
  border: none;
  outline: none;
}

.tool-tip {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-left: 2rem;
}

.as-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  aspect-ratio: 1;
}

.advanced-icon {
  height: 80%;
}

.active {
  animation: bounce 1.5s 0s ease-in-out;
  cursor: pointer;
  border-radius: 25px;
}

.active:hover {
  cursor: pointer;

  box-shadow: -1px 1px 136px 0px rgba(0,0,0,0.87);
  -webkit-box-shadow: -1px 1px 136px 0px rgba(0,0,0,0.87);
  -moz-box-shadow: -1px 1px 136px 0px rgba(0,0,0,0.87);
}

@keyframes bounce {
  0%   {transform: scale(1)}
  25%  {transform: scale(1.4)}
  50%  {transform: scale(1)}
  75%  {transform: scale(1.4)}
  100% {transform: scale(1)}
}

.as-indicator {
  width: 35%;
  aspect-ratio: 1;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.tip-text {
  visibility: hidden;
  width: 250px;
  height: auto;
  background-color: #343a46;
  text-align: center;
  justify-content: center;
  border-radius: 6px;

  position: absolute;
  top: 50%;
  left: 110%;
  z-index: 1;
  transform: translateY(-50%);
}

.tool-tip:hover .tip-text {
  visibility: visible;
}

.tip-title {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.tip-info {
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 8px;
}

.search-results {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  overflow: hidden;
  overflow-y: auto;

  width: 400px;
  min-height: 95px; 
  max-height: 250px;
  border-radius: 10px;

  background-color: #282c34;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-results::-webkit-scrollbar {
  display: none;
}

.god-selector {
  position: relative;
  width: 100%;
  height: 95px;

  font-size: 20px;
}

.god-selector:hover {
  cursor: pointer;
  background-color: #343a46;
}

.god-selector img {
  width: 100%;
  height: 100%;
}

.god-text {
  position: absolute;
  left: 3%;
  top: 10%;
}

.container {
  display: flex;
  justify-content: center;
  overflow: scroll;
  margin-top: 1em;
}

.container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.scroll-box {
  width: 1130px;
  overflow: scroll;
}

.table-titles {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, 1fr);
  width: 100%;
  padding-bottom: 10px;
}

.field-title {
  display: grid;
  place-items: center;
  width: 174px;
  height: 100%;

  font-size: 1.8rem;
  background-color: #282C34A4;
  border-radius: 10px;
}

.guesses-table {
  display: grid;
  place-items: center;
  width: 100%;
}

.guess-item {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(6, 1fr);
  flex-direction: row;
  width: 100%;
  padding-bottom: 5px;
}

.guess-row {
  display: grid;
  place-items: center;
  width: 100%;
}

.square {
  display: grid;
  place-items: center;
  width: 170px;
  height: 115px;

  color: rgb(219, 219, 219);
  font-size: 20px;
  border: 2px solid rgba(116, 116, 116, 0.808);
}

.incorrect {
  background-color: #bb1701bb;
}

.correct {
  background-color: #019414bb;
}

.up {
  background-image: url('./assets/upArrow.png');
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: center;
}

.down {
  background-image: url('./assets/downArrow.png');
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: center;
}

.a {
  opacity: 0;
  animation: reveal 0.6s 0s forwards;
}

.b {
  opacity: 0;
  animation: reveal 0.6s 0.6s forwards;
}

.c {
  opacity: 0;
  animation: reveal 0.6s 1.2s forwards;
}

.d {
  opacity: 0;
  animation: reveal 0.6s 1.8s forwards;
}

.e {
  opacity: 0;
  animation: reveal 0.6s 2.4s forwards;
}

.f {
  opacity: 0;
  animation: reveal 0.6s 3s forwards;
}

@media screen and (max-width: 850px) {
  .title h1 {
    font-size: 2rem;
    padding-top: 5%;
  }
}