

/* assets */

@font-face {
  font-family: mainFont;
  src: url(./assets/Cinzel-Bold.ttf);
}




/* page styles */


body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  background: #282c34;
}

body::-webkit-scrollbar-thumb {
  background-color: #B48521;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  text-shadow: 0 0 15px #000000;
  vertical-align: middle;
  background-color: #282c34;
  /* background-image: linear-gradient(#2A2F3F, #313a57, #313a57, #2A2F3F); */
  background-image: url('./assets/background.png');
  background-attachment: fixed;
  font-family: mainFont;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 0px 50px 0px 100px;
}
  
.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header img {
  padding: 0em;
}

h1 {
  padding: 0em;
  font-size: 50px;
  color: #B48521;
}

h2 {
  padding: 0em;
  margin: 0em;
  font-size: 35px;
  color: #B48521;
}

.leftImage {
  float: left;
  vertical-align: middle;
}

.rightImage {
  float: right;
  vertical-align: middle;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}









/* searchbar styles */



.searchInputs {
  position: relative;
  width: 85%;
  padding-bottom: 10px;
}

.search input {
  background-color: #282c34;
  color: white;
  font-family: mainFont;
  border: 0;
  font-size: 20px;
  padding: 15px;
  height: 40px;
  width: 370px;
  border-radius: 0.25em;
}

input:focus {
  outline: none;
}

.dataResult {
  margin-top: 5px;
  width: 400px;
  min-height: 95px; 
  max-height: 250px;
  border-radius: 0.25em;
  background-color: #282c34;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}

.godSelector {
  width: 405px;
  height: 95px;
  text-decoration: none;
  vertical-align: middle;
  text-align: left;
  color: #B48521;
  font-size: 20px;
  background-size: 100% 100%;
  position: relative;
}
.godSelector:hover {
  background-color: #343a46;
}

.godText {
  position: absolute;
  left: 3%;
  top: 10%;
}

.searchRow {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  align-items: center;
  justify-content: center;
}

.searchRow img {
  border-radius: 35%;
}

.advanced-active {
  animation: bounce 1.5s 0s ease-in-out;
  cursor: pointer;
  position: relative;
}

.advanced-active:hover {
  box-shadow: -1px 1px 136px 0px rgba(0,0,0,0.87);
  -webkit-box-shadow: -1px 1px 136px 0px rgba(0,0,0,0.87);
  -moz-box-shadow: -1px 1px 136px 0px rgba(0,0,0,0.87);
}

@keyframes bounce {
  0%   {transform: scale(1)}
  25%  {transform: scale(1.4)}
  50%  {transform: scale(1)}
  75%  {transform: scale(1.4)}
  100% {transform: scale(1)}
}

.plus {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.toolTip .toolTipText {
  visibility: hidden;
  width: 250px;
  height: auto;
  color: #B48521;
  background-color: #343a46;
  text-align: center;
  justify-content: center;
  border-radius: 6px;

  /* Position the tooltip */
  position: absolute;
  top: 0%;
  right: -52%;
  z-index: 1;
}

.toolTip:hover .toolTipText {
  visibility: visible;
}

.toolTipTitle {
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.toolTipSmall {
  font-size: 16px;
  padding-top: 4px;
  padding-bottom: 8px;
}


















/* table styles */

/* #showMe {
  animation: reveal 0s 5s forwards;
  visibility: hidden;
} */

.Guesses-Table {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Table-Titles {
  height: 90px;
  border-radius: 20px;
  background-color: #282c34a4;
  
  display: grid;
  column-gap: 50px;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1200px;
}

.Data-Title {
  font-size: 25px;
  color: #B48521;
  text-decoration: underline;
  text-decoration-color: #B48521;
  width: 170px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  word-wrap: break-word;
}

.Guess-Row {
  display: grid;
  row-gap: 20px;
  column-gap: 30px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.Guess-Items {
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 60px;
  width: 1200px;
}

.Item-Data {
  height: 100px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-family: mainFont;
  color: white;
}

.square-incorrect {
  border: 2px solid rgba(116, 116, 116, 0.808);
  box-sizing: border-box;
  width: 220px;
  height: 115px;
  font-family: mainFont;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  word-wrap: break-word;
  background-color: #bb1701bb;
  color: rgb(219, 219, 219);
  /* opacity: 0;  */
}

.square-correct {
  border: 2px solid rgba(116, 116, 116, 0.808);
  box-sizing: border-box;
  width: 220px;
  height: 115px;
  font-family: mainFont;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  word-wrap: break-word;
  background-color: #019414bb;
  color: rgb(219, 219, 219);
  /* opacity: 0;  */
}


.up {
  background-image: url('./assets/upArrow.png');
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: center;
}

.down {
  background-image: url('./assets/downArrow.png');
  background-repeat: no-repeat;
  background-size: 80% 100%;
  background-position: center;
}

.a {
  opacity: 0;
  animation: reveal 0.6s 0s forwards;
}

.b {
  opacity: 0;
  animation: reveal 0.6s 0.6s forwards;
}

.c {
  opacity: 0;
  animation: reveal 0.6s 1.2s forwards;
}

.d {
  opacity: 0;
  animation: reveal 0.6s 1.8s forwards;
}

.e {
  opacity: 0;
  animation: reveal 0.6s 2.4s forwards;
}

.f {
  opacity: 0;
  animation: reveal 0.6s 3s forwards;
}

@keyframes reveal {
  to { opacity: 1; }
}



/* wincard styles */

.winCard {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.winCard img {
  padding-bottom: 10px;
  animation: reveal 3s 0s forwards;
  opacity: 0;
}

.replay {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 15px black;
  width: 300px;
  height: 80px;
  border-radius: 20px;
  font-size: 30px;
  color: #B48521;
  background-color: #282c34a4;
}

.replay:hover {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
  text-decoration-color: #B48521;
  color: #bb974a;
  cursor: pointer;
}